<!DOCTYPE html>
<html>
<head>

<style type="text/css">
body {
  height: 100%;
  width: 100%;
  font-family:'Helvetica',sans-serif;
  padding: 0;
  margin: 0;
}
iframe {
  display: block;
  height: 100%;
  width: 90.909%;
  border: none;
}
#minimap, #toolbar {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#toolbar p, #toolbar input {
	margin: 0;
	display: none;
	position: absolute;
	top: 20px;
}
#toolbar p {
	right: 20px;
	color: #000;	
	font-weight: bold;
	font-size: 16px;
	display: none;
}
#toolbar p:hover {
	margin: -4px;
	font-size: 24px;
}
#toolbar input {
	width: 6em;
	right: 45px;
}
</style>

</head>
<body>

<iframe src="proxy?<%= @url %>"></iframe> 

<div id="minimap"></div>

<div id="toolbar">
	<input placeholder="New URL?" />
	<p>&times;</p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery<%= ".min" unless @dev %>.js"></script>
<script type="text/javascript">
<% if @dev %>
window.onerror = function() {
  $('html').css('background', 'red');
};
<% end %>

//minimap
var minimapDiv = $('#minimap');
var iframe = $('iframe').load(function() {
  scaleFactor = .1;
  iframeDoc = iframe.contents()[0];
  document.title = iframeDoc.title;
  minimapDiv.css({
    width: iframeDoc.width,
    WebkitTransform: 'scale('+scaleFactor+')',
    WebkitTransformOrigin: 'top right'
  })
  .prepend(iframeDoc.documentElement.cloneNode(true));
});

//toolbar
$('p').click(function() {
	var url = unescape(window.location.search.substring(1));
	if (url.substring(0,7) != 'http://') {
		url = "http://" + url;
	}
	window.location = url;
});
$('#toolbar').hover(function() {
	$('input').toggle();
	$('p').toggle();
});
$('input').focus(function() {
	$(this).css('width','12em');
});
$('input').blur(function() {
	$(this).css('width','6em');
});
$('input').bind('keydown keypress', function(e) {
	if (e.keyCode == 13) {
		var url = $(this).val();
		window.location = window.location.pathname + "?" + escape(url);
	}
});
</script>
</body>
</html>
