<!DOCTYPE html>
<html>
<head>

<title>iframe proxy</title>

<style type="text/css">
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
iframe {
  display: block;
  height: 100%;
  border: none;
}
</style>

</head>
<body>

<iframe src="proxy?<%= @url %>"></iframe>

</body>
</html>
