<!DOCTYPE html>
<html>
<head>

<title>iframe proxy</title>

<style type="text/css">
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
iframe {
  height: 100%;
  width: 90%;
  border: none;
}
</style>

</head>
<body>

<iframe src="proxy?<%= @url %>"></iframe> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery<%= ".min" unless @dev %>.js"></script>
<script type="text/javascript">
<% if @dev %>
window.onerror = function() {
  $('html').css('background', 'red');
};
<% end %>

var doc = document, body = doc.body;
var iframe = $('iframe').load(function() {
});
</script>
</body>
</html>
