<!DOCTYPE html>
<html>
<head>

<title>iframe proxy</title>

<style type="text/css">
body {
  height: 100%;
  margin: 0;
}
iframe {
  display: block;
  height: 100%;
  width: 90.909%;
  border: none;
}
#minimap {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
</style>

</head>
<body>

<iframe src="proxy?<%= @url %>"></iframe> 

<div id="minimap"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery<%= ".min" unless @dev %>.js"></script>
<script type="text/javascript">
<% if @dev %>
window.onerror = function() {
  $('html').css('background', 'red');
};
<% end %>

var minimapDiv = $('#minimap');
var iframe = $('iframe').load(function() {
  scaleFactor = .1;
  iframeDoc = iframe.contents()[0];
  minimapDiv.css({
    width: iframeDoc.width,
    WebkitTransform: 'scale('+scaleFactor+')',
    WebkitTransformOrigin: 'top right'
  })
  .append(iframeDoc.documentElement.cloneNode(true));
});
</script>
</body>
</html>
