<!DOCTYPE html>
<html>
<head>

<title>iframe proxy</title>

<style type="text/css">
body {
  height: 100%;
  width: 100%;
  font-family:'Helvetica',sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
iframe {
  position:absolute;
  left:0;
  display: block;
  height: 100%;
  width: 90%;
  border: none;
}
div {
	position:absolute;
	width:15%;
	height:100%;
	right:0;
}
p, input {
	margin:0;
	display:none;
	position:absolute;
	top:20px;
}
p {
	right:20px;
	color:#000;	
	font-weight:bold;
	font-size:16px;
	display:none;
}
p:hover {
	margin:-4px;
	font-size:24px;
}
input {
	width:6em;
	right:45px;
}
</style>

</head>
<body>

<iframe src="proxy?<%= @url %>"></iframe> 

<div>
	<input placeholder = "New URL?">
	<p>&times;
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery<%= ".min" unless @dev %>.js"></script>
<script type="text/javascript">
<% if @dev %>
window.onerror = function() {
  $('html').css('background', 'red');
};
<% end %>

var doc = document, body = doc.body;
var iframe = $('iframe').load(function() {
});
$('p').click(function() {
	var url = unescape(window.location.search.substring(1));
	if (url.substring(0,7) != 'http://') {
		url = "http://" + url;
	}
	window.location = url;
});
$('div').hover(function() {
	$('input').toggle();
	$('p').toggle();
});
$('input').focus(function() {
	$(this).css('width','12em');
})
$('input').blur(function() {
	$(this).css('width','6em');
})
$('input').bind('keydown keypress', function(e) {
	if (e.keyCode == 13) {
		var url = $(this).val();
		window.location = window.location.pathname + "?" + escape(url);
	}
})
</script>
</body>
</html>
